
header {
    padding: 2rem;
    background: #fff;
    border-bottom: 1px solid #eee;
    border-top: 5px solid #D53243;;
    border-bottom: 5px solid #ABC640;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 100%;
    max-width: 200px;
}

header input {
    border: 1px solid #266DAC;
    border-radius: 5px;
    padding: 1rem;
    font-size: 1.2rem;
    color: #666;
    max-width: 400px;
    width: 100%;
}

header button {
    background: #AFCA2F;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: linear ease-in-out 0.2s;
}

header button:hover {
    background: #b2cf3e;
}

/* ipad view */

@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    header img {
        margin-bottom: 1rem;
    }

    header input {
        margin-bottom: 1rem;
    }
}

/* mobile view */

@media (max-width: 480px) {
    header {
        padding: 1rem;
    }

    header input {
        padding: 0.5rem;
    }

    header button {
        width: 100%;
        padding: 0.5rem 1rem;
    }
}