.noticias {
    padding: 1rem 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}

.noticia {
    padding: 1rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    width: 32%;

}

.noticia img {
    width: 100px;
    object-fit: cover;
}