.sectionNoticias {
    padding: 2rem 0;
}

.sectionNoticias h1 {
    font-size: 2.3rem;
    font-weight: 700;
    color: #fff;
}

.noticias {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.noticia {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.noticia .description {
    font-size: 1rem;
    color: gray;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

}

.noticia img {
    width: 80px;
    object-fit: cover;
}

.more {
    display: flex;
    justify-content: flex-end;
}

.more button {
    background-color: transparent;
    color: #fff;
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
    border: 1px solid #fff;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* ipad view */

@media (max-width: 768px) {
    .sectionNoticias {
        padding: 1rem;
    }

    .noticias {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* mobile */

@media (max-width: 480px) {
    .sectionNoticias {
        padding: 1rem;
    }

    .noticias {
        grid-template-columns: repeat(1, 1fr);
    }
}