.banner {
    background-color: #fff;
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 3rem;
    border-radius: 8px;
}

.banner img {
    width: 50%;
}

.banner .info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.banner h1 {
    font-size: 2.3rem;
    font-weight: 700;
    color: #004470;
}

.banner p {
    font-size: 1.2rem;
    color: gray;
}

.banner button {
    max-width: 50%;
    background-color: #004470;
    color: #fff;
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
}

/* ipad view */

@media (max-width: 768px) {
    .banner {
        flex-direction: column;
        padding: 1rem;
    }

    .banner img {
        width: 100%;
        margin-bottom: 1rem;
    }

    .banner .info {
        width: 100%;
        align-items: center;
    }
}

/* mobile */

@media (max-width: 425px) {
    .banner {
        padding: 1rem;
    }

    .banner .info {
        text-align: center;
    }

    .banner button {
        max-width: 100%;
    }
}